.App {
  text-align: center;
}

.heading{
    font-family: fantasy;
    font-size: 3rem;
    cursor: pointer;

}

.dark{
  background: rgba(0,0,0,1);
  color:rgba(255,255,255,1);

}

.dark:hover{
    color: rgba(255,255,255,0.5);
    cursor: pointer;
}

.lightbg{
  background: rgba(255,255,255,1);
}

.darkbg{
  background: rgba(0,0,0,1);
}
